<article class="{{post_class}}
post-card-large
{{#unless feature_image}}no-image
{{/unless}}">

    <a href="{{url}}">

        <section class="post-full-meta justify-content-between">
            {{#primary_tag}}
                <span class="badge badge-success">{{name}}</span>
            {{/primary_tag}}
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
        </section>

        {{#if feature_image}}
            <div class="post-card mx-0 my-3">
                <img src="{{asset "images/post.png"}}" style="
                    background-image:url({{img_url feature_image}});
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    " alt="{{title}}" />
            </div>
        {{/if}}

        <div class="post-card-content">

            <header class="post-card-header">
                <h2 class="post-card-title text-dark mt-3" style="word-wrap:break-word"><b>{{title}}</b></h2>
            </header>

            <section>
                <p class="text-secondary">{{excerpt words="33"}}</p>
            </section>

        </div>
    </a>

</article>
